@model IT_self_service_system.Models.CreateSolutionViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Add new solution</h2>
<div class="row">
    <form action="/Solution/Edit" method="post" role="form" novalidate="novalidate">
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <label for="Title">Title:</label>
            <input type="text" class="form-control" id="title" name="title" value="@Model.title">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" rows="25" id="description" name="description">@Model.description</textarea>
        </div>
        <div class="form-group">
            <label for="ContactInfo">Contact info:</label>
            <input type="text" class="form-control" id="ContactInfo" name="ContactInfo" value="@Model.ContactInfo">
        </div>
        <div class="form-group">
            <label for="selectedCategory">Category:</label>

            <select class="form-control" id="selectedCategory" name="selectedCategory">

                @{
                    string selected = "";
                }
                @foreach (var c in Model.categoryList)
            {
                if (c.Id == Model.selectedCategory) { selected = "selected"; }


                <option value=@c.Id @selected>@c.Name</option>

                    selected = "";
                }
            </select>
        </div>
        <div class="form-group">
            <label for="selectedType">Type:</label>

            <select class="form-control" id="selectedType" name="selectedType">


                @{
                    string selected2 = "";
                }
                @foreach (var c in Model.stypeList)
            {
                if (c.Id == Model.selectedType) { selected = "selected"; }


                <option value=@c.Id @selected2>@c.Name</option>

                    selected = "";
                }
            </select>
        </div>
        <br />
        <b>Contact info:</b> <br />
        <p>@Model.ContactInfo</p>
        <br />
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>