@model IT_self_service_system.Models.SolutionViewModel
@{
    ViewBag.Title = "Index";
}
<h2></h2>
<div class="row ">

    <div class="col-md-1">
        <h1 id="rep"> @Model.reputation </h1>
        <div class="row">
            <dvi class="col-md-6">
                <a href="#" id="rep-down">
                    <span class="glyphicon glyphicon-size-large glyphicon-thumbs-down"></span>
                </a>
            </dvi>
            <dvi class="col-md-6">
                <a href="#" id="rep-up">
                    <span class="glyphicon glyphicon-size-large glyphicon-thumbs-up"></span>
                </a>
            </dvi>
        </div>
    </div>
    <div class="col-md-11">
        @if (User.IsInRole(IT_self_service_system.Models.RoleName.CanAddSolution))
        {
            <a href="@Url.Action("Edit", "Solution", new { id = Model.Id })" class="btn btn-danger pull-right" role="button">Edit</a>
        }
        <h3 class="media-heading">@Model.title</h3>
        <h4 class="media-heading">@Model.category.Name</h4>
        <p>@Html.Raw(Model.description.Replace(Environment.NewLine, "<br/>")) <p>
            <br />
            <b>Contact info:</b> <br />
        <p>@Model.ContactInfo</p>
    </div>
    @if (Model.stype.Id == 9)
    {
        <a href="@Url.Action("Create", "Form", new { SolutionID = Model.Id })" class="btn btn-danger pull-right" role="button">Make request</a>

    }
</div>
@{
    if (User.IsInRole(IT_self_service_system.Models.RoleName.CanAddSolution))
    {
        foreach (var f in Model.formList.OrderBy(x => x.Status.Id))
        {<div class="row">
        <div class="col-md-2">
            <h3>@f.Status.Name</h3>
        </div>
        <div class="col-md-10">
            <a href="@Url.Action("Edit", "Form", new { Id = f.Id })"><h3 class="media-heading">@f.Title</h3> </a>

            <h4 class="media-heading">@f.UserName</h4>
            <p>@Html.Raw(String.Join(" ", f.Text.Replace(Environment.NewLine, "<br/>").Split(' ').Take(250))) ...</p>
        </div>
    </div>
    <hr />
        }
    }
}

@section Scripts{
    <script>


        $("#rep-up").click(function () {
            $.ajax({

                method: "POST",
                url: "@Url.Action("Rate", "Solution")",

                data: {
                    "SolutionId": "@Model.Id",
                    "Mark": "true"

                }
            }).done(function (data) {
                if (data != null) {

                    $('#rep').text(data);

                    if ($("#rep-up").is(":visible"))
                        $("#rep-up").hide();

                    if (!$("#rep-down").is(":visible"))
                        $("#rep-down").show();
                }
            });
        });
        $("#rep-down").click(function () {
            $.ajax({

                method: "POST",
                url: "@Url.Action("Rate", "Solution")",

                data: {
                    "SolutionId": "@Model.Id",
                    "Mark": "false"

                }
            }).done(function (data) {
                if (data != null) {
                    $('#rep').text(data);


                    if ($("#rep-down").is(":visible"))
                        $("#rep-down").hide();

                    if (!$("#rep-up").is(":visible"))
                        $("#rep-up").show();
                }
            });
        });



    </script>
}